@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
}

.needle {
  width: 3px;
  height: 65px;
  /* background-color: var(--primary-color); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%);
  border-radius: 50% 50% 0 0;
}

.needle.second {
  height: 100px;
  transform: translate(-50%, -100%) rotate(15deg);
  background-color: red;
}
.needle.minute {
  height: 85px;
  transform: translate(-50%, -100%) rotate(45deg);
  background-color: blue;
}
.needle.hour {
  /* height: 85px; */
  transform: translate(-50%, -100%) rotate(90deg);
  background-color: black;
}

.center-point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
